.heading-img-brand {
    width: 160px;
    margin-left: 10px;
}
.heading-search-text {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ion-toolbar {
    ion-fab-button {
        --background: var(--ion-color-primary);
        --color: #FFFFFF;
        font-weight: bold;
    }
}
ion-toolbar.border-none {
    --border-color: none;
}
ion-searchbar {
    --background: var(--ion-color-primary);
    --color: #FFFFFF;
    --placeholder-color: #FFFFFF;
    --icon-color: #FFFFFF;
    --clear-button-color: #FFFFFF;
  
    --border-radius: 4px;
}
  
ion-searchbar.ios.custom {
    --cancel-button-color: var(--ion-color-primary);
}
  
ion-searchbar.md.custom {
    --cancel-button-color: #FFFFFF;
}

.text-title-enter-search {
    font-size: 12px;
    color: var(--ion-color-secondary);
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    text-overflow: ellipsis;
    width: 320px;
    
    strong {
      color: #0275a1;
    }
  }
  